*.bak
*.idb
*.ilk
*.ipch
*.log
*.obj
*.opendb
*.pdb
*.suo
*.tlog
*.user
*.VC.db
*.FileListAbsolute.txt

/src/lib/dll/output/
/src/lib/dll/additional_libs/
/build/output/
/build/deploy_*/
/build/package/
